<div id="frame" class="ui-sortable" align="center">
         <img src="http://migranempresa.com/landing/images/logo_transparent.png"><br><br><br>
<table data-module="module-3_14347" mc:repeatable="layout-3" mc:hideable="3" mc:variant="Content-3" data-bgcolor="Header" data-bg="Header" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#3b3b3b" style="position: relative; opacity: 1; z-index: 0; background-image: url(&quot;http://www.stampready.net/dashboard/editor/user_uploads/image_uploads/2018/11/10/0RAfPMThayn4zj6gu2VbdQKvCFm7s3qOY5BNSilkZDXWJc9Up18erxtw.jpg&quot;); background-color: rgb(255, 255, 255); background-position: center center; background-size: cover; max-width: 1000px;" background="http://www.stampready.net/dashboard/editor/user_uploads/image_uploads/2018/11/10/0RAfPMThayn4zj6gu2VbdQKvCFm7s3qOY5BNSilkZDXWJc9Up18erxtw.jpg" class=""><div class="moduleCodeButton preventSelection" style="top: 327px"><div class="codeButton"></div></div><div class="moduleDuplicateButton preventSelection" style="top: 327px"><div class="duplicateButton"></div></div><div class="moduleDragButton preventSelection" style="top: 327px"><div class="dragButton ui-sortable-handle"></div></div><div class="moduleDeleteButton preventSelection" style="top: 327px"><div class="deleteButton"></div></div>
      <tbody><tr>
        <td align="center" style="background-size: cover;background-color: #0000001a;">

          <table align="center" class="Moon-600" width="80%" border="0" cellspacing="0" cellpadding="0" style="     /* background-color: rgba(255, 255, 255, 0.72); */ ">
            <tbody><tr>
              <td height="150">
              </td>
            </tr>
            <tr align="left">
              <td>

                <table border="0" align="center" cellpadding="0" cellspacing="0">
                  <tbody><tr>
                    <td data-link-style="text-decoration:none; color:#FFFFFF;" data-link-color="Text L" align="center" height="30" style="font-family: &quot;Open Sans&quot;, Arial, sans-serif; color: rgb(255, 255, 255); font-size: 32px; line-height: 32px; font-weight: 100; text-align: center;" data-color="Mains Text0" data-size="Header0">
                     <br><br>
                      <br>
   
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
            <tr>
              <td height="10">
              </td>
            </tr>
            <tr align="center">
              <td data-link-style="text-decoration:none; color:#3cb2d0;" data-link-color="Header Link2" data-color="Header Title2" data-size="Header Title2" height="20" style="font-family: &quot;Open Sans&quot;, Arial, sans-serif;font-size: 56px;font-weight: 900;color: rgb(255, 255, 255);text-align: center;line-height: 50px;text-transform: uppercase;" align="left">  Gracias por subscribirte a nuestro newsletter
              </td>
            </tr>
            <tr>
              <td align="left">
                <table align="center" class="Moon-600" width="290" border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td>
                      <!-- left -->
                      <table align="center" class="moon3-3" width="130" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                          <td>
                            <!-- content -->
                            <table class="moon3-3" width="130" border="0" align="center" cellpadding="0" cellspacing="0">
                              <tbody><tr>
                                <td height="80">
                                </td>
                              </tr>
                              <tr align="center">
                                <td>
                       
                                </td>
                              </tr>
                            </tbody></table>
                          </td>
                        </tr>
                      </tbody></table>
                      <!-- end left -->
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
            <tr>
              <td height="150">


              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table><br><br>

</div>

