

    
    <!--Page Title-->
    <section class="page-title">
    	<div class="auto-container">
        	<div class="clearfix">
            	<div class="pull-left">
                	<h2>Mi Gran Empresa</h2>
                </div>
                <div class="pull-right">
                	<ul class="page-title-breadcrumb">
                    	<li><a href="/"><span class="fa fa-home"></span>Home</a></li>
                        <li>Mi Gran Empresa</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
	<!--About Section-->
    <section class="about-section">
    	
        <!--Author Info-->
        <div class="author-info">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Image Column-->
                    <div class="image-column col-md-4 col-sm-12 col-xs-12">
                        <div class="image">
                            <img src="https://migranempresa.s3.us-east-2.amazonaws.com/high_mi_gran.jpg" alt="" />
                        </div>
                    </div>
                    <!--Image Column-->
                    <div class="content-column col-md-8 col-sm-12 col-xs-12">
                        <div class="content-inner">
                            <h2>Mi Gran Empresa</h2>
                            <div class="text">
                                <p>Somos una plataforma que facilita el aprendizaje y desarrollo de los emprendedores y MiPyME a través de la difusión de contenidos de calidad que contribuyan al desarrollo de las habilidades empresariales.</p>
                            </div>
                            <ul class="social-icon-one alternate">
                                <li><a href="https://www.facebook.com/MiGranEmpresaMx/"><span class="fa fa-facebook"></span></a></li>
                                <li class="linkedin"><a href="https://www.linkedin.com/company/mi-gran-empresa/"><span class="fa fa-linkedin-square"></span></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        
    </section>
    <!--End About Section-->
    
    <!--Mission Section-->
    <section class="mission-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="image">
                        	<img src="https://migranempresa.s3.us-east-2.amazonaws.com/landing/images/Imagen1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h2>Nuestro propósito es <span class="theme_color">crear un espacio de encuentro</span></h2>
                        <!--Mission Info Tabs-->
                        <div class="mission-info-tabs">
                            <!--Product Tabs-->
                            <div class="prod-tabs tabs-box">
                            
                                <!--Tab Btns-->
                                <ul class="tab-btns tab-buttons clearfix">
                                    <li data-tab="#prod-vision" class="tab-btn active-btn">Servicios</li>
         
                                </ul>
                                
                                <!--Tabs Container-->
                                <div class="tabs-content">
                                    
                                    <!--Tab / Active Tab-->
                                    <div class="tab active-tab" id="prod-vision">
                                        <div class="content">
                                            <div class="text">
                                            <p>Comunidad de emprendedores: Contamos con una red de contactos y apoyo para los emprendedores y startups. </p>
                                                <p>Desarrollo de competencias: Nuestros procesos de desarrollo de competencias están diseñados para maximizar el potencial en un mínimo de tiempo, ya que se desarrollan a partir de experiencia y participación de los asistentes.</p>
                                            </div>
                                            <!--End Business Info Tabs-->
                       
                                        </div>
                                    </div>
                                    
                                    <!--Tab-->
                           
                                    <!--End Tab-->
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    </section>
    
   <%= render 'layouts/newsletter' %>
    
