
     <% if session[:user_id] %>
     <%= render 'layouts/header' %>
   <div class="content-wrapper">
<section class="content">

<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Editar Categoria</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
      <%  @category = Category.where("cat_id =?",params[:cat_id])[0] %>
  
        <%= form_with(model: @category, local: true) do |form| %>

       <div class="box-body">



               <div class="form-group">
                  <label for="exampleInputEmail1">Nombre Categoría *</label>
                 <input class="form-control"  name="category[name]" value="<%= @category.name %>" placeholder="<%= @category.name %>" size="30" type="text" required>
                </div>
           
          




    <div class="form-group">
        <button type="submit" name="submit" class="btn btn-primary">Cargar Categoría</button>
          
    </div>



</div>
<% end %>





  	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>

      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>

      <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css">





          </div>
    </section>

        </div>
<% else %><br><br><br><br>
<div align="center">

<h2>Cerraste tu sesión, vuelve a logearte</h2>
</div>
<br><br><br><br>
<% end %>
