

    
    <!--Page Title-->
    <section class="page-title">
    	<div class="auto-container">
        	<div class="clearfix">
            	<div class="pull-left">
                	<h2>Mi Gran Empresa</h2>
                </div>
                <div class="pull-right">
                	<ul class="page-title-breadcrumb">
                    	<li><a href="/"><span class="fa fa-home"></span>Home</a></li>
                        <li>Aviso de Privacidad</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
	<!--About Section-->
    <section class="about-section">
    	
        <!--Author Info-->
        <div class="author-info">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Image Column-->
                   
                    <!--Image Column-->
                    <div class="content-column col-md-12 col-sm-12 col-xs-12">
                        <div class="content-inner">
                            <h2>Aviso de Privacidad</h2>
                            <div class="text">
                                <p>En cumplimiento a la normatividad en materia de Protección de Datos Personales en Posesión de Particulares,
                                    Belgodere, Garduño y Asociados, S.C, para efectos del presente “MI GRAN EMPRESA” con domicilio ubicado ubicado
                                    en Av. Paseo de la Reforma 300, piso 9, Colonia Juárez, Delegación Cuauhtémoc, C.P. 06600 en la Ciudad de México,
                                    pone a su disposición el siguiente documento, el cual expone el aviso de privacidad y uso de su sitio web. </p>




                                <p>¿Cómo contactarnos? por medio de correo electrónico contacto@migranempresa.com.mx así como en nuestro número
                                    telefónico 50 80 92 71 para realizar cualquier comunicación relativa al servicio, sujetando a los usuarios de la misma, de
                                    forma expresa y sin reservas.  </p>




                                    <p>¿Cómo contactarnos? por medio de correo electrónico contacto@migranempresa.com.mx así como en nuestro número
                                    telefónico 50 80 92 71 para realizar cualquier comunicación relativa al servicio, sujetando a los usuarios de la misma, de
                                    forma expresa y sin reservas.  </p>


                                     <h2 style="font-size: 24px;">I.- RESPONSABILIDAD DE LA PROTECCIÓN DE DATOS PERSONALES </h2>
                                     <p>En “MI GRAN EMPRESA” reconocemos la importancia que tiene el tratamiento controlado e informado de los datos
personales de nuestros clientes, usuarios y visitantes y es por eso que ponemos a disposición el presente Aviso de
Privacidad, a fin de que se conozcan las prácticas que utilizamos para obtener, usar, almacenar y en general tratar los
datos personales, de conformidad con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares
y demás normatividad aplicable.   </p>



 <p>Al visitar nuestro sitio web, implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas
en este apartado, por lo que cualquier persona que no esté de acuerdo con alguna de las condiciones establecidas
deberá abstenerse de utilizar y acceder al portal de “MI GRAN EMPRESA”. El responsable de la protección y tratamiento
de sus datos personales dentro del portal www.migranempresa.com es “MI GRAN EMPRESA”, cuyos datos quedaron
prestablecidos al principio del documento.    </p>

<h2 style="font-size: 24px;">II.- ¿QUÉ DATOS PERSONALES RECOLECTAMOS?  </h2>


 <p>Usted puede navegar por nuestro sitio web sin proporcionar datos personales, sin embargo, existen determinadas
secciones dentro del mismo en donde puede proporcionar voluntariamente sus datos. Sus datos pueden ser recabados
en distintas situaciones, por ejemplo, al enviarnos un correo electrónico, al registrarse para recibir información de interés,
así como aquellos que nos proporcione cuando decide contratar alguno de nuestros servicios. Los datos personales que
podemos recabar se describen a continuación de manera clara: (1) Nombre completo (2) Correo electrónico.    </p>


<h2 style="font-size: 24px;">VII.- ¿CÓMO COMPARTIMOS SUS DATOS?  </h2>


 <p>MI GRAN EMPRESA podrá contratar encargados, personas físicas o morales, para prestar parte del servicio por cuenta
nuestra. Estos terceros tendrán acceso a sus datos personales exclusivamente para llevar a cabo las finalidades que
nosotros le encomendamos y se encuentran contractualmente obligados a no utilizar o a divulgar esa información para
otros fines.    </p>



 <p>MI GRAN EMPRESA revelará sus datos solamente dentro de los márgenes legales permitidos y necesarios, y en la
medida que sea necesario para la procuración o administración de la justicia o reconocimiento, ejercicio o defensa de un
derecho en un proceso judicial, o en caso de que una emergencia respecto a su salud y seguridad. También
transferiremos su información a nuestras sociedades controladoras, subsidiarias o afiliadas u otras sociedades de
nuestro mismo grupo, las cuales operan bajo los mismos procesos y políticas internas. MI GRAN EMPRESA no
transfiere sus datos personales de forma adicional alguna, nos comprometemos a no vender, intercambiar, transferir,
publicar o difundir a terceros ajenos a MI GRAN EMPRESA en adición a lo anterior, la única forma en que nos veríamos
obligados a revelar sus datos es mediante la orden de una autoridad competente.    </p>
<h2 style="font-size: 24px;">V.- MENORES DE EDAD </h2>


 <p>En MI GRAN EMPRESA tenemos un claro y decidido compromiso con la seguridad de los menores de edad, por este
motivo no recabamos intencionalmente datos a menores de edad. Queda bajo responsabilidad de los padres o tutores,
supervisar la conducta de los menores de edad que ingresen al sitio.   </p>


<h2 style="font-size: 24px;">VIII.- DERECHOS ARCO </h2>


 <p>Usted, como titular de sus datos personales, tiene derecho a (1) Acceder a sus datos personales y conocer los detalles
del tratamiento de los mismos; (2) Rectificarlos en caso de estar desactualizados, ser inexactos o estar incompletos; (3)
Cancelarlos cuando considere que no están siendo utilizados conforme a los principios, deberes y obligaciones aplicable;
(4) Oponerse al tratamiento de sus datos personales para fines específicos. Esto derechos se conocen como los
Derechos ARCO.   </p>


<h2 style="font-size: 24px;">IX.- EJERCICIO DE DERECHOS ARCO </h2>


 <p>Usted puede ejercitar los sus derechos ARCO por correo electrónico, en caso de hacerlo por correo electrónico, por favor
enviar su solución al área de protección de datos personales, en el correo electrónico contacto@migranempresa.com
acompañada de la siguiente información y documentación: (1) Datos de identificación del Usuario y su representante
legal. En el caso del representante legal se deberá acompañar del documento con el que se acredite su personalidad.
Los documentos podrán ser escaneados y adjuntados al correo electrónico para verificar su veracidad; (2) La descripción
de manera clara y precisa de los datos personales respecto de los cuales se busca ejercer Derechos ARCO, así como el
derecho o derechos que se desea ejercer, lo cual podrá hacerse en el texto del correo electrónico o en un documento
adjunto escaneado y debidamente firmado al final del mismo y rubricado al calce de cada una de las hojas; (3) Señalar
expresamente el deseo de recibir la contestación de MI GRAN EMPRESA a su petición a través de correo electrónico,
indicando la dirección de correo electrónico que corresponda; y, (4) Copia de identificación oficial vigente del Usuario y/o
de su representante legal. Los documentos podrán ser escaneados y adjuntados al correo electrónico para verificar su
veracidad.    </p>


<p>Una vez que la solicitud para ejercer Derechos ARCO se encuentre a disposición del área encargada de MI GRAN
EMPRESA, independientemente de la forma en que se reciba, se emitirá la respectiva contestación en un plazo no
mayor a 20 días a partir de su recepción. La cual haremos del conocimiento del usuario a través del medio de contacto
elegido. Una vez recibida la contestación de MI GRAN EMPRESA tendrá un plazo de 20 días hábiles para emitir su
contestación. En caso de no responder a la contestación de MI GRAN EMPRESA en el plazo señalado, se entenderá
de buena fe que está conforme con la respuesta.    </p>


<p>Si su solicitud de ejercicio de Derechos ARCO es acerca del ejercicio del derecho de acceso, MI GRAN EMPRESA”
pondrá a su disposición la información o datos personales a través de copias simples y/o documentos electrónicos. </p>



<h2 style="font-size: 24px;">X.- REVOCACIÓN DEL CONSENTIMIENTO AL TRATAMIENTO DE SUS DATOS PERSONALES</h2>
<p>Usted, como titular de sus datos personales, puede revocar su consentimiento para el tratamiento de los mismos
conforme al procedimiento previsto en la sección anterior “Ejercicio de Derechos ARCO”.
Usted entiende que si revoca su consentimiento para el tratamiento de sus datos cancelaremos su cuenta y
procederemos a suprimirlos en términos de este aviso de privacidad. </p>






<h2 style="font-size: 24px;">XI.- CONSERVACIÓN</h2>
<p>Salvo por lo dispuesto en este Aviso de Privacidad, conservaremos sus datos personales hasta en tanto no cancele su
registro. Si usted desea cancelar su registro y que ya no utilicemos su información para prestarle servicios, por favor
contáctenos en el correo electrónico contacto@migranempresa.com una vez que solicite la eliminación de su registro se
procederá a desasociar sus datos y que estos sean anónimos, salvo que sea necesario conservar los mismos para
cumplir con la legislación aplicable o resolver reclamaciones. </p>



<h2 style="font-size: 24px;">XV.- CONTACTO.</h2>
<p>En caso de tener dudas o comentarios respecto al Aviso de Privacidad, le pedimos contacte al Departamento de
Protección de Datos Personales, a través de la siguiente dirección de correo electrónico contacto@migranempresa.com
MI GRAN EMPRESA podrá en cualquier momento descontinuar o modificar, temporal o permanentemente, los servicios
con o sin previo aviso a los usuarios. MI GRAN EMPRESA no es dueño ni responsable de los logos, nombres
comerciales, marcas, slogans y/o páginas web de terceros que se utilicen o enlacen en internet al momento de buscar
nuestro servicio</p>


                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        
    </section>
    <!--End About Section-->
    
  
    
   <%= render 'layouts/newsletter' %>
    
