   
    <!--Page Title-->
    <section class="page-title">
      <div class="auto-container">
          <div class="clearfix">
              <div class="pull-left">
                  <h2>Propiedad Intelectual</h2>
                </div>
                <div class="pull-right">
                  <ul class="page-title-breadcrumb">
                      <li><a href="/"><span class="fa fa-home"></span>Home</a></li>
            
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Shop Single-->
    <div class="shop-page">
        <div class="auto-container">
            <!--Basic Details-->
            <div class="basic-details">
                <div class="row clearfix">
                
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                   
                    <img src="https://migranempresa.s3.us-east-2.amazonaws.com/propiedad.jpg" alt="">



          
                    </div>
                    
                    <!--Info Column-->
                    <div class="info-column col-md-6 col-sm-12 col-xs-12">
                      <div class="inner-column">
                            <div class="details-header">
                                <h4>Propiedad Intelectual</h4>
                       
                             
                            </div>
                            <div class="text" style="text-align: justify;">

              
                               
                              <p>Asesoría, gestión y protección de derechos de autor, marcas, avisos comerciales y secreto industrial.</p>
                            </div>
                         
                           
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--Basic Details-->
            
          
 
        </div>
    </div>
