
    
    <!--Page Title-->
    <section class="page-title">
    	<div class="auto-container">
        	<div class="clearfix">
            	<div class="pull-left">
                	<h2>Descubre los servicios y soluciones que Mi Gran Empresa tiene para ti</h2>
                </div>
                <div class="pull-right">
                	<ul class="page-title-breadcrumb">
                    	<li><a href="/"><span class="fa fa-home"></span>Home</a></li>
                        <li>Servicios</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
	<!--Gallery Section-->
    <section class="gallery-section fullwidth">
    	
        <!--MixitUp Galery-->
        <div class="mixitup-gallery">
            <div class="auto-container">
            	<!--Filter-->
               <!--  <div class="filters text-center clearfix">
                    
                    <ul class="filter-tabs filter-btns clearfix">
                      
                        <li class="filter" data-role="button" data-filter=".planning">Cursos / Capacitación </li>
                        <li class="filter" data-role="button" data-filter=".market">Taller de Liderazgo Y Gestión Empresarial</li>
                        <li class="filter" data-role="button" data-filter=".transport">Emprendedor</li>
                        <li class="filter" data-role="button" data-filter=".insurance">Asesoría de propiedad Intelectual</li>
                        <li class="filter" data-role="button" data-filter=".environment">Catering Empresarial</li>
                    </ul>
                    
                </div> -->


            <div class="row clearfix">
              
       
                    <!--End News Block-->
                  

                  <div class="news-block-one col-md-4 col-sm-4 col-xs-12">
                        <div class="inner-box" align="center">
                            <div class="image">
                                <a href="/service_propiedad_intelectual"><img src="/propiedad.jpg"  style="height: 250px; width: 250px;" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <h3><a href="/service_propiedad_intelectual">Propiedad Intelectual</a></h3>
                               
                            </div>
                        </div>
                    </div>
                    <!--End News Block-->


                    <div class="news-block-one col-md-4 col-sm-4 col-xs-12">
                        <div class="inner-box" align="center">
                            <div class="image">
                                <a href="/service_liderazgo"><img src="/liderazgo.jpg"  style="height: 250px; width: 250px;" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <h3><a href="/service_liderazgo">Liderazgo</a></h3>
                               
                            </div>
                        </div>
                    </div>
                    <!--End News Block-->


                        <div class="news-block-one col-md-4 col-sm-4 col-xs-12">
                        <div class="inner-box" align="center">
                            <div class="image">
                                <a href="/service_coaching"><img src="/coaching2.jpg"  style="height: 250px; width: 250px;" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <h3><a href="/service_coaching">Coaching</a></h3>
                               
                            </div>
                        </div>
                    </div>
                    <!--End News Block-->
               
                  
                </div>
                    


            </div>
            
            <div class="filter-list clearfix">
                
                <!--Gallery Item-->
                <div class="gallery-item mix all">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="http://effortthemes.com/html/newspoint/images/gallery/27.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="#" class="link"><span class="icon fa fa-link"></span></a>
                                        <a href="images/gallery/27.jpg" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <h3><a href="#">Finance Consultancy</a></h3>
                        <div class="text">Market Analysis</div>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item mix all planning transport">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="http://effortthemes.com/html/newspoint/images/gallery/28.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="#" class="link"><span class="icon fa fa-link"></span></a>
                                        <a href="images/gallery/28.jpg" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <h3><a href="#">Business Growth</a></h3>
                        <div class="text">Market Analysis</div>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item mix all insurance environment">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="http://effortthemes.com/html/newspoint/images/gallery/29.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="#" class="link"><span class="icon fa fa-link"></span></a>
                                        <a href="images/gallery/29.jpg" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <h3><a href="#">Finance Consultancy</a></h3>
                        <div class="text">Market Analysis</div>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item mix all planning insurance environment">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="http://effortthemes.com/html/newspoint/images/gallery/30.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="#" class="link"><span class="icon fa fa-link"></span></a>
                                        <a href="images/gallery/30.jpg" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <h3><a href="#">Auditing</a></h3>
                        <div class="text">Market Analysis</div>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item mix all environment">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="http://effortthemes.com/html/newspoint/images/gallery/31.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="#" class="link"><span class="icon fa fa-link"></span></a>
                                        <a href="images/gallery/31.jpg" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <h3><a href="#">Insurance Pack</a></h3>
                        <div class="text">Market Analysis</div>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item mix all planning market insurance">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="http://effortthemes.com/html/newspoint/images/gallery/32.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="#" class="link"><span class="icon fa fa-link"></span></a>
                                        <a href="images/gallery/32.jpg" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <h3><a href="#">Stock Market</a></h3>
                        <div class="text">Market Analysis</div>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item mix all insurance">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="http://effortthemes.com/html/newspoint/images/gallery/33.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="#" class="link"><span class="icon fa fa-link"></span></a>
                                        <a href="images/gallery/33.jpg" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <h3><a href="#">Banking</a></h3>
                        <div class="text">Market Analysis</div>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item mix all market insurance">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="http://effortthemes.com/html/newspoint/images/gallery/34.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="#" class="link"><span class="icon fa fa-link"></span></a>
                                        <a href="images/gallery/34.jpg" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <h3><a href="#">Business Consultancy</a></h3>
                        <div class="text">Market Analysis</div>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item mix all insurance">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="http://effortthemes.com/html/newspoint/images/gallery/35.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="#" class="link"><span class="icon fa fa-link"></span></a>
                                        <a href="images/gallery/35.jpg" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <h3><a href="#">Business Growth</a></h3>
                        <div class="text">Market Analysis</div>
                    </div>
                </div>
                
                <!--Gallery Item-->
                <div class="gallery-item mix all market insurance">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="http://effortthemes.com/html/newspoint/images/gallery/36.jpg" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="#" class="link"><span class="icon fa fa-link"></span></a>
                                        <a href="images/gallery/36.jpg" data-fancybox="images" data-caption="" class="link"><span class="icon fa fa-search"></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        <h3><a href="#">Business Consultancy</a></h3>
                        <div class="text">Market Analysis</div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </section>

    