   
    <!--Page Title-->
    <section class="page-title">
      <div class="auto-container">
          <div class="clearfix">
              <div class="pull-left">
                  <h2>Coaching</h2>
                </div>
                <div class="pull-right">
                  <ul class="page-title-breadcrumb">
                      <li><a href="/"><span class="fa fa-home"></span>Home</a></li>
            
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Shop Single-->
    <div class="shop-page">
        <div class="auto-container">
            <!--Basic Details-->
            <div class="basic-details">
                <div class="row clearfix">
                
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                   
                    <img src="/coaching2.jpg" alt="">



          
                    </div>
                    
                    <!--Info Column-->
                    <div class="info-column col-md-6 col-sm-12 col-xs-12">
                      <div class="inner-column">
                            <div class="details-header">
                                <h4>Coaching</h4>
                       
                             
                            </div>
                            <div class="text" style="text-align: justify;">

              
                               
                              <p>El crecimiento de una empresa depende de la actualización y formación continua de quienes llevan a cabo, planean y le dan vida. En la actualidad es necesario tener personas capaces de responder con la mayor cantidad de herramientas a las situaciones que se presentan. Por ello a través de un equipo multidisciplinario, se busca responder a las necesidades de cada equipo de trabajo, para brindarles soluciones específicas a sus necesidades de capacitación y desarrollo.</p>
                            </div>
                         
                           
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--Basic Details-->
            
          
 
        </div>
    </div>
