

    
    <!--Page Title-->
    <section class="page-title">
    	<div class="auto-container">
        	<div class="clearfix">
            	<div class="pull-left">
                	<h2>Mi Gran Empresa</h2>
                </div>
                <div class="pull-right">
                	<ul class="page-title-breadcrumb">
                    	<li><a href="/"><span class="fa fa-home"></span>Home</a></li>
                        <li>Aviso de Privacidad</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
	<!--About Section-->
    <section class="about-section">
    	
        <!--Author Info-->
        <div class="author-info">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Image Column-->
                   
                    <!--Image Column-->
                    <div class="content-column col-md-12 col-sm-12 col-xs-12">
                        <div class="content-inner">
                            <h2>TÉRMINOS Y CONDICIONES</h2>
                            <div class="text">
                                <p>Bienvenido al sitio web www.migranempresa.com este sitio es propiedad de Belgodere, Garduño y Asociados, S.C, que
para efectos del presente documento se denominará “MI GRAN EMPRESA”. En atención a los servicios prestados y
encontrados en el sitio web de “MI GRAN EMPRESA” nos podrás encontrar en el domicilio ubicado en Av. Paseo de la
Reforma 300, piso 9, Colonia Juárez, Delegación Cuauhtémoc, C.P. 06600 en la Ciudad de México.</p>




                                <p>¿Cómo contactarnos? por medio de correo electrónico contacto@migranempresa.com.mx así como en nuestro número
telefónico 50 80 92 71 para realizar cualquier comunicación relativa al servicio. </p>




                                    <p>¿Cómo contactarnos? por medio de correo electrónico contacto@migranempresa.com.mx así como en nuestro número
                                    telefónico 50 80 92 71 para realizar cualquier comunicación relativa al servicio, sujetando a los usuarios de la misma, de
                                    forma expresa y sin reservas.  </p>


                                     <p>Por favor revisa los siguientes términos y condiciones que rigen el uso de la página de internet de “MI GRAN EMPRESA”.
                                        Al favorecernos con tu visita, significa que has leído, entendido y aceptas en su totalidad los términos y condiciones del
                                        mismo.  </p>

                                     <h2 style="font-size: 24px;">I.- DEFINICIONES </h2>
                                     <p>Para efectos de los presentes términos y condiciones, las siguientes palabras tendrán el significado que a continuación se
les asigna:  </p>



 <p><strong>Blog:</strong> Es un sitio web que incluye, a modo de diario contenidos de su interés redactados por un autor o autores, suelen
estar actualizados con frecuencia   </p>

 <p><strong>Creador de contenido:</strong>Persona que se dedica a redactar regularmente una columna especial o escribir en una sección
habitual de una publicación periódica dentro del sitio web de “MI GRAN EMPRESA”</p>

 <p><strong>Columna Periodística: </strong> Conjunto de párrafos escritos que redactan la opinión que tiene un autor de manera fija sobre
algún tema de interés, desarrollado en un espacio prestablecido dentro de la página de “MI GRAN EMPRESA”  </p>


 <p><strong>Comunidad: </strong> Grupo de personas que creen y forman parte del mismo interés social.  </p>



 <p><strong>Copyright: </strong> Comprende la parte patrimonial de los derechos de autor   </p>



  <p><strong>Datos estadísticos:</strong> Se consideran datos estadísticos a toda aquella información resultante de ser recabada, agrupada y
analizada, la cual para su análisis no requiere de los datos de identificación personal del usuario como son nombre, edad o
domicilio, misma que es utilizada de forma global para entender mejor las necesidades de los usuarios y mejorar el servicio
que se presta. </p>
  <p><strong>Datos de identificación:</strong>  Información sobre el usuario, misma que conforma su perfil, la cual debe ser como mínimo:
Nombre completo y correo electrónico.</p>
  <p><strong>MiPyME:</strong>  Acrónimo de micro, pequeña y mediana empresa</p>
  <p><strong>Newsletter:</strong>  Distribución a través del registro de correo electrónico y nombre del usuario, en donde podrá recibir
publicaciones digitales dentro del sitio “MI GRAN EMPRESA”.</p>
  <p><strong>Spiders:</strong>  Es un programa que inspecciona las páginas del World Wide Web de forma metódica y automatizada.</p>
  <p><strong>Portal: </strong> Sistema Informático, diseñado como acceso único al sitio de “MI GRAN EMPRESA” cuyo objetivo es ofrecer al
usuario de manera integrada el acceso a una serie de servicios e información proporcionada por “MI GRAN EMPRESA”</p>
<p><strong>Publicaciones:</strong>  Artículos escritos por diversos autores mediante los cuales se hace pública determinada información a los
usuarios, sobre diversos temas de interés</p>
  <p><strong>Propiedad Intelectual:</strong>  La propiedad intelectual se relaciona con las creaciones de la mente: invenciones, obras literarias
y artísticas, así como símbolos, nombres e imágenes utilizados en el comercio. Para efectos del presente se ofrece como
servicio para el registro de marca de tu proyecto de emprendimiento.</p>
  <p><strong>Visitante:</strong>  Persona que ingresa a la página de internet de “MI GRAN EMPRESA” www.migranempresa.com </p>





<h2 style="font-size: 24px;">II.- SERVICIO  </h2>


 <p>La utilización de este portal implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en
este apartado, por lo que cualquier persona que no esté de acuerdo con alguna de las condiciones que establecidas
deberá abstenerse de utilizar y acceder al portal de “MI GRAN EMPRESA”.   </p>

 <p>“MI GRAN EMPRESA” pone a disposición del público en general el sitio web www.migranempresa.com a través del cual,
los visitantes podrán visualizar diversos contenidos dentro de la plataforma, mismos que son utilizados para facilitar el
aprendizaje y desarrollo de los emprendedores y MiPyME a través de la difusión de contenidos de calidad y la prestación
de servicios profesionales que contribuyan al desarrollo de las habilidades empresariales. Nuestros procesos de desarrollo
de competencias están diseñados para maximizar el potencial en un mínimo de tiempo, ya que se desarrollan a partir de
experiencia y participación de los asistentes.   </p>


 <p>El principal objetivo de “MI GRAN EMPRESA” es brindar herramientas de aprendizaje y desarrollo para los
emprendedores. Para cumplir con este objetivo, “MI GRAN EMPRESA” ofrece dentro de su plataforma servicios en
propiedad intelectual, desarrollo de competencias, entrenamiento y liderazgo, además cuenta con publicaciones digitales
redactadas por expertos en diversos temas de interés para apoyar a la comunidad de “MI GRAN EMPRESA”.    </p>


 <p>El usuario acepta y reconoce que en todo momento, su interacción en la página web de “MI GRAN EMPRESA”, y las
propuestas comerciales y servicios profesionales visualizados y contratados dentro de la página web de “MI GRAN
EMPRESA” se realizan por terceros y de manera independiente, siendo la relación con “MI GRAN EMPRESA” y el usuario
de estricto carácter mercantil. En ningún momento la subordinación o canalización del usuario a terceros por medio de “MI
GRAN EMPRESA” genera relación laboral de algún tipo con “MI GRAN EMPRESA”   </p>





<h2 style="font-size: 24px;">III. CONTENIDO DEL BLOG.  </h2>


 <p>La utilización del servicio de “MI GRAN EMPRESA” incluye la distribución de contenido proporcionado por otros
proveedores como creadores de contenido. “MI GRAN EMPRESA” no se hace responsable de las declaraciones y
opiniones expresadas por esos proveedores de contenido y declara no ser la editora de dicha información, por lo tanto, no
es responsable de los retrasos, faltas, errores u omisiones en dicho contenido.   </p>



 <p>La responsabilidad sobre la veracidad e integridad de dicho contenido recae únicamente en los proveedores de contenido.
Ni MI GRAN EMPRESA, ni sus afiliados o colaboradores serán responsables ante ningún usuario o persona por reclamos
de difamación escrita, infracción, invasión de privacidad y derechos de publicidad, obscenidad, fraude o menoscabo que
surjan de dicho contenido. No obstante, lo anterior, MI GRAN EMPRESA se reserva el derecho de eliminar la información
provista por otros proveedores de contenido, en cualquier momento y bajos su exclusivo criterio.  </p>


 <p>Cualquiera que requiera la publicación de espacios publicitarios, deberá contactar al responsable por medio del correo
electrónico contacto@migranempresa.com.mx y firmar el acuerdo correspondiente con la que se especifican los términos
y condiciones de contratación. MI GRAN EMPRESA busca fomentar la libertad de expresión y la variedad en las ideas. Al
utilizar la plataforma de MI GRAN EMPRESA usted como usuario, estará́ participando en una comunidad que fue diseñada
para todo el público en general.  </p>



<h2 style="font-size: 24px;">IV. REGLAS DE PUBLICACIÓN.  </h2>


 <p>MI GRAN EMPRESA ha creado, de manera enunciativa más no limitativa reglas de publicación para los creadores de
contenido, estas reglas te serán proporcionadas al solicitar información para púbica dentro del sitio web de mi Gran
empresa. Para más información acerca de las pautas para publicar, favor de contactar por medio del correo electrónico
contacto@migranempresa.com.mx, <br>
Cualquier infracción de ciertas reglas de publicación puede ser denunciada a las autoridades policiales. MI GRAN
EMPRESA se reserva el derecho de divulgar cualquier información que sea necesaria para satisfacer cualquier ley,
regulación o solicitud gubernamental.   </p>


<h2 style="font-size: 24px;">V. AUTORIZACIÓN DEL CONTENIDO DEL BLOG QUE PROVIENE DE PROVEDORES TERCEROS. </h2>


 <p>MI GRAN EMPRESA podrá actualizar los términos y condiciones del sitio en cualquier momento, siempre que lo utilices,
deberás revisar las actualizaciones de uso del mismo.</p>
<p>El contenido y servicios que ofrece nuestro sitio, está reservado y dirigido únicamente a un público mayor de 18 años.
Queda bajo responsabilidad de los padres o tutores, supervisar la conducta de los menores de edad que ingresen al sitio.</p>
<p>“MI GRAN EMPRESA ” podrá restringir tu visita si se detecta algún uso indebido del sitio y de los servicios que se ofrecen
en el mismo, entendiendo como uso indebido de manera enunciativa, más no limitativa, los siguientes supuestos: </p>



<li>La utilización de mecanismos o herramientas automatizadas o tecnología similar cuya finalidad sea realizar la
extracción, obtención o recopilación, directa o indirecta, de cualquier información contenida en el sitio.</li>
<li> Cualquier intento de modificación, adaptación, traducción, o conversión de los formatos o programas de cómputo
del Sitio web o a los contenidos del mismo.</li>
<li> Utilizar los códigos HTML a disposición de un tercero.</li>
<li>Copiar, imitar, replicar para su uso en servidores espejo, reproducir, distribuir, publicar, descargar, mostrar o
transmitir cualquier contenido del Sitio (incluyendo marcas registradas) en cualquier forma o por cualquier medio;
esta restricción incluye, pero no se limita a los siguientes medios: medios electrónicos, mecánicos, medios de
fotocopiado, grabación o cualquier otro medio.</li>
<li> Acceder a datos no destinados al usuario o iniciar sesión en un servidor o cuenta en la que el usuario no esté
autorizado su acceso.</li>
<li> Intentar interferir con el servicio a cualquier usuario, huésped o red, incluyendo, sin limitación, a través del envío
de virus al Sitio, sobrecarga, inundación, spam, bombardeo de correo o fallas.</li>
<li> Enviar correo no solicitado, incluyendo promociones y/o publicidad de productos o servicios.</li>
<li>Intento o realización de actividades fraudulentas entre las que se encuentran sin limitar, la falsificación de
identidades o formas de pago. </li>

<p> <strong>Toda la información de registro proporcionada deberá ser verdadera y exacta. Proporcionar cualquier
información falsa o inexacta constituye el incumplimiento de estos TÉRMINOS Y CONDICIONES</strong>  </p>

<p>Las violaciones al sistema o red de seguridad pueden dar lugar a responsabilidad civil o penal. MI GRAN EMPRESA
investigará las ocurrencias que puedan involucrar tales violaciones, así como cooperar con las autoridades en la
persecución de usuarios que infrinjan tales violaciones. Haciendo uso de este sitio, te obligas a no utilizar ningún
dispositivo, o software para interferir o intentar interferir con el uso correcto de este sitio o cualquier actividad llevada a cabo
en el mismo. Quedas obligado en éste sitio a no utilizar o intentar utilizar cualquier máquina, software, herramienta, agente
u otro dispositivo o mecanismo (incluyendo sin limitación navegadores, spiders, robots, o agentes inteligentes) para
navegar o buscar en este Sitio otro que no sea el motivo de búsqueda y agentes de búsqueda disponibles de MI GRAN
EMPRESA en este sitio y otros navegadores de terceros que generalmente están disponibles (ejemplo, Google Crome o
Microsoft Explorer). </p>

<h2 style="font-size: 24px;">VII.- USUARIOS</h2>


 <p>La utilización de MI GRAN EMPRESA a través www.migranempresa.com implica lo siguiente: Para acceder a los
servicios y recibir contenido newsletter de “MI GRAN EMPRESA” a través su página web, el usuario deberá crear una 
cuenta de usuario, la cual requiere que nos comparta datos personales sensibles: correo electrónico y nombre del usuario
y en algunos casos los usuarios de redes informáticas de contacto como facebook y linkedin, esto se especifican en el
aviso de privacidad en www.migranempresa.com ,. El usuario se compromete a mantener la información proporcionada en
forma exacta, completa y actualizada, de lo contrario podría resultar en la imposibilidad del usuario para utilizar la los
servicios e información proporcionada por “MI GRAN EMPRESA” de conformidad a estos Términos y condiciones.  </p>



<h2 style="font-size: 24px;">VIII.- USO DE MARCA; PROPIEDAD INTELECTUAL </h2>
<p>El sitio web de www.migranemoresa.com sus logotipos y todo todo el material que aparece en dicho sitio, son marcas,
nombres de dominio, nombres comerciales y obras artísticas propiedad de sus respectivos titulares están protegidos por
las leyes aplicables en materia de propiedad intelectual y derechos de autor. </p>


<p>Los derechos de autor sobre el contenido, organización, recopilación, compilación, información, logotipos, fotografías,
imágenes, programas, aplicaciones, y en general cualquier información contenida o publicada en el sitio web de mi “MI
GRAN EMPRESA” están protegidos por las leyes aplicables en materia de propiedad intelectual y derechos de autor. </p>


<p>Se prohíbe expresamente al usuario modificar, alterar o suprimir, ya sea en forma total o parcial, los avisos, marcas,
nombres comerciales, señas, anuncios, logotipos o en general cualquier indicación que se refiera a la propiedad de la
información contenida en el sitio señalado.  </p>


<p>El usuario no adquiere ningún derecho de propiedad intelectual por el simple uso de los contenidos de la aplicación, los
Servicios y Contenidos y en ningún momento dicho uso será considerado como una autorización ni licencia para utilizar los
Servicios y Contenidos con fines distintos a los que se contemplan en los presentes Términos y Condiciones de Uso y
Privacidad.</p>



<h2 style="font-size: 24px;">IX.- PROPIEDAD INTELECTUAL DE TERCEROS</h2>
<p>El usuario acuerda que las disposiciones que se establecen en el inciso anterior respecto de la titularidad de los derechos
de “MI GRAN EMPRESA ” también son aplicables a los derechos de terceros respecto de los Servicios y Contenidos de las
páginas enlazadas al portal y la aplicación.  </p>



<h2 style="font-size: 24px;">X.- USOS Y RESTRICCIONES PERMITIDOS</h2>
<p>El aprovechamiento de los Servicios y Contenidos de la aplicación es exclusiva responsabilidad del usuario, quien en todo
caso deberá servirse de ellos acorde a las funcionalidades permitidas por la aplicación y a los usos autorizados en los
presentes Términos y Condiciones, por lo que el usuario se obliga a utilizarlos de modo tal que no atenten contra las
normas de uso y convivencia en Internet, las leyes de los Estados Unidos Mexicanos, las buenas costumbres, la dignidad
de la persona y los derechos de terceros. La aplicación es para uso personal y del usuario por lo que no podrá comercializar
de manera alguna los Servicios y Contenidos.</p>




<h2 style="font-size: 24px;">XI.- BIENES Y SERVICIOS DE TERCEROS ENLAZADOS</h2>
<p>Respecto de los Servicios y Contenidos que prestan terceros dentro o mediante enlaces contenidos dentro de la página
web, “MI GRAN EMPRESA ” se limita exclusivamente, para conocimiento del usuario a: </p>

<li>Informar al usuario sobre los mismos. </li>



<li>A proporcionar un medio para poner en contacto al usuario con proveedores o vendedores. Los productos
y/o servicios que se comercializan dentro del Portal y/o en los sitios de terceros enlazados son
suministrados por comerciantes independientes a “MI GRAN EMPRESA ”. “MI GRAN EMPRESA ” no es ni
podrá ser considerado como proveedor de los bienes y/o servicios que se ofrecen en su página.  </li>




<p>Toda asesoría, consejo, declaración, información y contenido de las páginas de terceros enlazadas o dentro del Portal
representan las opiniones y juicios de dicho tercero, consecuentemente, “MI GRAN EMPRESA ” no será responsable de
ningún daño o perjuicio que sufra el usuario a consecuencia de los mismos. </p>





<h2 style="font-size: 24px;">XII.- CONFIDENCIALIDAD</h2>

<p>“MI GRAN EMPRESA ” se obliga a mantener confidencialidad la información que reciba del usuario que tenga dicho
carácter conforme a las disposiciones legales aplicables, en los Estados Unidos Mexicanos. “MI GRAN EMPRESA ” no
asume ninguna obligación de mantener confidencial cualquier otra información que el usuario le proporcione, ya sea al
inscribirse o en cualquier otro momento posterior.</p>



<h2 style="font-size: 24px;">XIII.- PROGRAMA DE PRIVACIDAD DE MI GRAN EMPRESA </h2>

<p>La seguridad de su información personal es nuestra prioridad. Nosotros protegemos esta información mediante el
mantenimiento de protecciones físicas, electrónicas y de procedimiento que cumplen o exceden lo previsto en la legislación
aplicable. Nosotros capacitamos a nuestros empleados en el manejo adecuado de la información personal. <strong>Al utilizar
otras compañías para que nos presten servicios, les exigimos proteger la confidencialidad de la información
personal que ellos reciban. </strong></p>





<h2 style="font-size: 24px;">XIV.- USO DE LA INFORMACIÓN NO CONFIDENCIAL</h2>

<p>Mediante el uso del Portal el usuario autoriza a “MI GRAN EMPRESA” a utilizar, publicar, reproducir, divulgar, comunicar
públicamente y transmitir la información no confidencial, en términos de lo establecido en el artículo 109 de la Ley Federal
de los Derechos de Autor y de la fracción I, del artículo 76 bis de la Ley Federal de Protección al Consumidor y en lo
prestablecido en el Aviso de Privacidad. </p>




<h2 style="font-size: 24px;">XV.- ACUERDOS GENERALES</h2>

<p>“MI GRAN EMPRESA” tendrá el derecho de modificar en cualquier momento los Términos y Condiciones. En
consecuencia, el usuario debe leer atentamente los Términos y Condiciones cada vez que pretenda utilizar el sitio web.
Ciertos Servicios y Contenidos ofrecidos a los usuarios.</p>
<p>
“MI GRAN EMPRESA” no garantiza la disponibilidad y continuidad de la operación y de los Servicios y Contenidos, ni la
utilidad de los Servicios y Contenidos en relación con ninguna actividad específica. “MI GRAN EMPRESA” no será
responsable por ningún daño o pérdida de cualquier naturaleza que pueda ser causado debido a la falta de disponibilidad o
continuidad de operación de los Servicios y Contenidos. “MI GRAN EMPRESA” podrá en cualquier momento descontinuar
o modificar, temporal o permanentemente, los servicios con o sin previo aviso a los usuarios </p>
<p>“MI GRAN EMPRESA” no es dueño ni responsable de los logos, nombres comerciales, marcas, slogans y/o páginas web
de terceros que se utilicen o enlacen con Google.</p>

<h2 style="font-size: 24px;">XVI.- LEYES APLICABLES Y JURISDICCIÓN</h2>

<p>Para la interpretación, cumplimiento y ejecución del presente Contrato, las partes están de acuerdo en que serán
aplicables las leyes Federales de los Estados Unidos Mexicanos y competentes los tribunales de la Ciudad de México, ,
renunciando expresamente a cualquier otro fuero o jurisdicción que pudiera corresponderles debido a sus domicilios
presentes o futuros.  </p>


                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        
    </section>
    <!--End About Section-->
    
  
    
   <%= render 'layouts/newsletter' %>
    
