    <!--Page Title-->
    <section class="page-title">
    	<div class="auto-container">
        	<div class="clearfix">
            	<div class="pull-left">
                	<h2>Muchas gracias, pronto estaremos en contacto</h2>
                </div>
                <div class="pull-right">
                	<ul class="page-title-breadcrumb">
                    	<li><a href="/"><span class="fa fa-home"></span>Home</a></li>
                        <li>Muchas Gracias</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <div class="row clearfix">
                 
                 <h1>Muchas gracias, pronto estaremos en contacto</h1>
                </div>
                    
             
                
            </div>
            
        </div>
    </div>
    <!--End Sidebar Page Container-->
    
